/* plugin settings styles */
.ziggeo-tabName {
    border: 1px solid gray;
    border-bottom: none;
    display: inline-block;
    padding: 10px 15px;
    background-color: silver;
    background-image: linear-gradient(white, silver);
}
.ziggeo-frame {
    border: 1px solid gray;
    box-sizing: border-box;
    margin-bottom: 1em;
    padding: 1em;
}
.ziggeo-tabName.selected {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    height: 30px;
    margin-bottom: -30px;
    position: relative;
    top: -10px;
    background-color: orange;
    background-image: linear-gradient(yellow, orange);
}
.ziggeo-subframe {
    border-bottom: 2px groove orange;
    border-bottom-left-radius: 15px;
    padding: 2px 10px;
    transition-duration: 0.2s;
    transition-property: padding-right;
}
.ziggeo_linespacer {
    left: -150px;
    position: relative;
}

/* Templates tab */
#ziggeo-tab_templates dl {
    /*clear: left;*/
    display: inline-block;
    margin-left: 10px;
    width: 280px;
    float: left;
}
#ziggeo-tab_templates dd {
    display: none;
}
#ziggeo-tab_templates dt:hover {
    border-bottom: 1px solid orange;
}
#ziggeo-tab_templates dt:hover + dd, #ziggeo-tab_templates dd:hover {
    background-image: linear-gradient(orange, transparent);
    border: 1px solid orange;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 4px;
    display: block;
    padding: 1em;
    margin-left: 20px;
}
#ziggeo-tab_templates dd span {
    border-bottom: 1px dashed navy;
}
#ziggeo-tab_templates textarea {
    resize: vertical;
    float: left;
}
.ziggeo-manage_list {
    background-image: linear-gradient(175deg, transparent, white);
    border: 2px groove silver;
    padding: 4px;
    width: 450px;
}
.ziggeo-manage_list li > span {
    display: none;
}
.ziggeo-manage_list li:hover span {
    display: inline-block;
    float: right;
    font-size: 12px;
    padding: 2px 10px;
    border-radius: 10px;
}
.ziggeo-manage_list > li {
    font-size: 14px;
    padding: 4px 2px;
}
.ziggeo-manage_list > li:hover {
    border-bottom: 1px solid orange;
}
.ziggeo-manage_list .edit:hover {
    box-shadow: 0 0 10px orange;
}
.ziggeo-manage_list .delete:hover {
    border-radius: 10px;
    box-shadow: 0 0 10px orangeRed;
}
#ziggeo-params-holder {
    float: left;
    padding-left: 10px;
    width: 580px;
}
#ziggeo_templates_turn_to_new {
    background-image: linear-gradient(orange, yellow);
    border: 1px solid gold;
    border-radius: 9px;
    padding: 4px 10px;
}
#ziggeo_turn_to_beta + label {
    background-image: linear-gradient(white, transparent);
    border: 1px solid lightgray;
    border-radius: 9px;
    padding: 4px 10px;
}
#ziggeo_turn_to_beta:checked + label {
    background-image: linear-gradient(lightblue, transparent);
    border: 1px solid lightblue;
}
.ziggeo_info {
    background-image: linear-gradient(gold, orange, gold);
    border-radius: 4px 4px 4px 0;
    font-size: 0.9em;
    font-style: italic;
    padding: 0.2em 0.6em;
    margin-bottom: 2em;
}

/* General tab */
#ziggeo-tab_general .form-table tr:hover .ziggeo-subframe {
    padding-right: 200px;
}
#ziggeo-tab_general .form-table tr label {
    opacity: 0;
    transition-duration: 0.4s;
    transition-property: opacity;
}
#ziggeo-tab_general .form-table tr:hover label {
    opacity: 1;
}

/* Feedback option currently only under general tab */
.ziggeo_hidden {
    display: none;
}
#ziggeo_feedback_banner {
    background-image: linear-gradient(45deg, lightblue, lightgreen);
    border-radius: 2em 2px 2em 1em;
    font-size: 0.9em;
    padding: 10px;
    position: fixed;
    right: 20px;
    top: 60px;
    z-index:2;
}
/* Feedback styles to make sure that we respect WP layout on mobile devices */
@media screen and (min-width:767px) and (max-width:783px) {
    #ziggeo_feedback_banner {
        width: 55%;
    }
}
@media screen and (min-width:782px) and (max-width:845px) {
    #ziggeo_feedback_banner {
        width: 50%;
        right: 15px;
        top: 50px;
    }
}
@media screen and (min-width:960px) and (max-width:1024px) {
    #ziggeo_feedback_banner {
        top: 50px;
    }
}
@media screen and (min-width:960px) {
    #ziggeo_feedback_banner {
        width: 45%;
    }
}
@media screen and (max-width:767px) {
    #ziggeo_feedback_banner { display:none; }
}
/* box showing "thank you" when the feedback was clicked link was clicked on */
#ziggeo_feedback-thankYOU {
    background-image: radial-gradient(gold, orange);
    border: 4px groove gold;
    border-radius: 10px;
    box-shadow: 0 0 20px gold;
    height: 100px;
    left: calc(50% - 150px);
    padding: 20px;
    position: fixed;
    top: calc(50% - 50px);
    width: 300px;
    z-index: 2;
}
#ziggeo_feedback-thankYOU b {
    display: block;
    font-size: 2em;
    margin-bottom: 10px;
}
/* Integrations styles */
.ziggeo_integrations_list {
    box-sizing: border-box;
    overflow: hidden;
    padding: 10px;
    width: 100%;
}
.ziggeo_integrations_row {
    box-sizing: border-box;
    height: 300px;
    padding: 10px;
    width: 100%;
    margin: 0;
    border-bottom: 4px groove gold;
    border-top: 4px groove silver;
}
.ziggeo_integrations_row:nth-child(odd) {
    background-image: linear-gradient(transparent, silver);
}
.ziggeo_integrations_row:nth-child(even) {
    background-image: linear-gradient(silver, transparent);
}
.ziggeo_integrations_row:first-child {
    border-top: none;
}
.ziggeo_integrations_row:last-child {
    border-bottom: none;
}
.ziggeo_integration_left {
    float: left;
    width: 270px;
}
.ziggeo_integration_logo {
    max-height: 256px;
    max-width: 256px;
}
.ziggeo_integrations_right {
    float: left;
    width: calc(100% - 270px);
}
.ziggeo_integrations_right > div {
    margin-bottom: 1em;
}
.integration > strong {
    font-size: 1.2em;
    font-style: italic;
    text-shadow: 1px 1px 2px lightgray;
}
.ziggeo_integrations_row .integration_button {
    background-image: linear-gradient(lightgray, transparent);
    border: 1px solid gray;
    border-radius: 4px;
    box-sizing: border-box;
    float: left;
    font-size: 16px;
    height: 30px;
    line-height: 30px;
    margin-left: 20px;
    text-align: center;
    width: 100px;
}
.ziggeo_integrations_row .integration_button:hover {
    background-image: linear-gradient(transparent, lightgray);
}
.ziggeo_integrations_row .integration_button.active {
    background-image: linear-gradient(lime, transparent);
    border: none transparent;
}

.ziggeo_integrations_row .integration_button.disabled {
    background-image: linear-gradient(gray, silver);
    border: none transparent;
}
#ziggeo-tab_integrations .form-table {
    display: none;
}

b.message, b.warning {
    display: inline-block;
}
b.warning {
    color: orangeRed;
}

    /* Gravity Forms specific CSS */
    .ginput_container_ZiggeoVideo > .small {
        width: 50%;
    }
    .ginput_container_ZiggeoVideo > .medium {
        width: 75%;
    }
    .ginput_container_ZiggeoVideo > .large {
        width: 100%;
    }