/* Post Comments */
#comments-video-container {
    margin-top: 11px;
    margin-bottom: 11px;
}
.comment-navigation ul.comment-nav-menu, .comment-navigation div.comment-nav-menu > ul {
    border-bottom: 1px solid #ededed;
    display: inline-block !important;
    text-align: left;
    width: 100%;
}
.comment-navigation ul {
    margin: 0;
    text-indent: 0;
}
.comment-navigation li a, .comment-navigation li {
    display: inline-block;
    text-decoration: none;
}
.comment-navigation li a {
    border-bottom: 0;
    padding-bottom: 10px;
    color: #6a6a6a;
    cursor:pointer;
    line-height: 1.3;
    text-transform: uppercase;
    white-space: nowrap;
}
.comment-navigation li a:hover {
    color: #000;
}
.comment-navigation li {
    margin: 0 40px 0 0;
    margin: 0 2.857142857 rem 0 0;
    position: relative;
}
.comment-navigation li ul {
    display: none;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 100%;
    z-index: 1;
}
.comment-navigation li ul ul {
    top: 0;
    left: 100%;
}
.comment-navigation ul li:hover > ul {
    border-left: 0;
    display: block;
}
.comment-navigation li ul li a {
    background: #efefef;
    border-bottom: 1px solid #ededed;
    display: block;
    font-size: 11px;
    font-size: 0.785714286 rem;
    line-height: 2.181818182;
    padding: 8px 10px;
    padding: 0.571428571 rem 0.714285714 rem;
    width: 180px;
    width: 12.85714286 rem;
    white-space: normal;
}
.comment-navigation li ul li a:hover {
    background: #e3e3e3;
    color: #444;
}
.comment-navigation .current-menu-item > a, .comment-navigation .current-menu-ancestor > a, .comment-navigation .current_page_item > a, .comment-navigation .current_page_ancestor > a {
    color: #636363;
    font-weight: bold;
}
#comments-text-link.selected, #comments-video-link.selected {
    border-bottom: 1px solid lightblue;
}

/*
    Minimal styles for video Walls. To override them, you can add CSS to your child theme or if theme allows you to add any CSS into it directly.
*/
.ziggeo_videoWall {
    background-color: beige; /* falback */
    background-image: linear-gradient(120deg, beige, white);
    box-sizing: border-box;
    padding: 0.6em;
}
.ziggeo_wall_title {
    border-bottom: 2px groove orange;
    border-bottom-right-radius: 20px;
    font-style: italic;
    text-align: center;
    text-shadow: 1px 1px 2px lightGray;
}
/* Allowing videos to be centered within the page */
.ziggeo_wallpage {
    text-align: center;
}
/* centering videos within page only */
.ziggeo_wallpage > ziggeo {
    display: inline-block;
    margin: 0 auto;
}
/* spacing between videos on pages */
.ziggeo_wallpage > ziggeo {
    margin: 20px;
}
/* Hides all pages - otherwise you would have no paging.. */
.ziggeo-wall-showPages .ziggeo_wallpage, .ziggeo-wall-slideWall .ziggeo_wallpage {
    display: none;
}
/* Display only the first page holding videos */
.ziggeo-wall-showPages .ziggeo_wallpage:nth-child(2), .ziggeo-wall-slideWall .ziggeo_wallpage {
    display: block;
}
br.clear {
    float: none;
    clear: both;
}
.ziggeo_wallpage_number {
    box-shadow: 0 0 3px gray;
    float: left;
    margin: 0 4px;
    text-align: center;
    width: 2em;
    border-radius: 2em;
    cursor: pointer;
    background-color: white;
    background-image: linear-gradient(210deg, lightgray, white);
}
.ziggeo_wallpage_number:hover {
    background-color: lightGray;
    background-image: linear-gradient(210deg, white, lightGray );
}
.ziggeo_wallpage_number.current {
    background-color: lightgreen;
    background-image: linear-gradient(210deg, lightgreen, green);
}
.ziggeo_wallpage_number.current:hover {
    background-color: lime;
    background-image: linear-gradient(210deg, green, lime);
}
/* Slide wall styles */
.ziggeo-wall-slideWall .ziggeo_wallpage {
    position: relative;
}
/* base properties for both previous and next arrows */
.ziggeo_videowall_slide_previous, .ziggeo_videowall_slide_next {
    height: 80%;
    margin-top: 5%;
    min-width: 40px;
    position: absolute;
    vertical-align: middle;
    width: 10%;
    background-color: transparent;
    cursor: pointer;
    background-position: center center;
    background-repeat: no-repeat;
}
/* to make previous stick before the video */
.ziggeo_videowall_slide_previous {
    float: left;
    border-top-left-radius: 100%;
    border-bottom-left-radius: 100%;
}
/* to make next arrow stick on the right of the videos */
.ziggeo_videowall_slide_next {
    float: right;
    right: 0;
    top: 0;
    /* To make them nice and rounded */
    border-top-right-radius: 100%;
    border-bottom-right-radius: 100%;
}
/* the styles that are applied when mouse is over the slidewall previous button */
.ziggeo_videowall_slide_previous:hover {
    box-shadow: -3px 0 4px lightgray;
}
/* the styles that are applied when mouse is over the slidewall next button */
.ziggeo_videowall_slide_next:hover {
    box-shadow: 3px 0 4px lightGray;
}

/* endless scroll chessboard grid implementation */
.ziggeo-wall-chessboardGrid ziggeo, .ziggeo-wall-mosaicGrid ziggeo {
    display: inline-block;
    margin: 5px;
}
#ziggeo-endless-loading_more {
    display: none;
}
.ziggeo-wall-chessboardGrid .ziggeo_wallpage, .ziggeo-wall-mosaicGrid .ziggeo_wallpage {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    clear:both;
}
/* Support for JobManager integration */
.ziggeo-button {
	background-image: linear-gradient(silver, white);
	border: 1px solid gray;
	border-radius: 20px;
	color: gray;
	padding: 4px;
}
#ziggeo-buttons-holder-JMV {
    background: transparent none repeat scroll 0 0;
    text-align: center;
    width: 100%;
	margin-top: 4px;
}
	#ziggeo-buttons-holder-JMV .ziggeo-button {
		display: inline-block;
		width: 40%;
		cursor: pointer;
	}
	#ziggeo-buttons-holder-JMV .ziggeo-button:hover {
		background-image: linear-gradient(white, silver);
	}
		#ziggeo-buttons-holder-JMV .ziggeo-button.btn-left {
			border-bottom-right-radius: 5px;
			border-top-right-radius: 5px;
			margin-right: 2px;
		}
		#ziggeo-buttons-holder-JMV .ziggeo-button.btn-right {
			border-bottom-left-radius: 5px;
			border-top-left-radius: 5px;
			margin-left: 2px;
		}
/* JW Video player in v1 is not comfortable playing in such a small size.. this helps it do it right */
#candidate_video-emb .jwcontrolbar .jwgroup.jwleft .jwplay button {
    max-width: 20px;
    padding: 0;
    width: 20px;
}
#candidate_video-emb .jwcontrolbar .jwgroup.jwcenter {
    left: 30px !important;
    width: 100px;
}
#candidate_video-emb .jwcontrolbar .jwgroup.jwright button {
	padding: 0;
}