/* 
	This file has all the styles used on the admin and public facing side
*/
/*

INDEX:
	1. Comments
	2. Global styles
	3. Overlay styles
	4. Third party or modules CSS (TO BE REMOVED IN FUTURE VERSIONS)
*/

/************************************************
	1. COMMENTS
************************************************/

	/* Post Comments */
	#comments-video-container {
		margin-top: 11px;
		margin-bottom: 11px;
	}
	.comment-navigation ul.comment-nav-menu, .comment-navigation div.comment-nav-menu > ul {
		border-bottom: 1px solid #ededed;
		display: inline-block !important;
		text-align: left;
		width: 100%;
	}
	.comment-navigation ul {
		margin: 0;
		text-indent: 0;
	}
	.comment-navigation li a, .comment-navigation li {
		display: inline-block;
		text-decoration: none;
	}
	.comment-navigation li a {
		border-bottom: 0;
		padding-bottom: 10px;
		color: #6a6a6a;
		cursor:pointer;
		line-height: 1.3;
		text-transform: uppercase;
		white-space: nowrap;
	}
	.comment-navigation li a:hover {
		color: #000;
	}
	.comment-navigation li {
		margin: 0 40px 0 0;
		margin: 0 2.857142857 rem 0 0;
		position: relative;
	}
	.comment-navigation li ul {
		display: none;
		margin: 0;
		padding: 0;
		position: absolute;
		top: 100%;
		z-index: 1;
	}
	.comment-navigation li ul ul {
		top: 0;
		left: 100%;
	}
	.comment-navigation ul li:hover > ul {
		border-left: 0;
		display: block;
	}
	.comment-navigation li ul li a {
		background: #efefef;
		border-bottom: 1px solid #ededed;
		display: block;
		font-size: 11px;
		font-size: 0.785714286 rem;
		line-height: 2.181818182;
		padding: 8px 10px;
		padding: 0.571428571 rem 0.714285714 rem;
		width: 180px;
		width: 12.85714286 rem;
		white-space: normal;
	}
	.comment-navigation li ul li a:hover {
		background: #e3e3e3;
		color: #444;
	}
	.comment-navigation .current-menu-item > a, .comment-navigation .current-menu-ancestor > a, .comment-navigation .current_page_item > a, .comment-navigation .current_page_ancestor > a {
		color: #636363;
		font-weight: bold;
	}
	#comments-text-link.selected, #comments-video-link.selected {
		border-bottom: 1px solid lightblue;
	}




/************************************************
	2. GLOBAL STYLES
************************************************/

	br.clear {
		float: none;
		clear: both;
	}

	.ziggeo-ctrl-btn {
		background-image: linear-gradient(#53c7f4, #335af4);
		border: 1px solid gray;
		border-radius: 4px;
		color: white;
		padding: 4px 10px;
		font-weight: bold;
		cursor: pointer;
		text-align: center;
		position:relative;
	}
	.ziggeo-ctrl-btn.disabled {
		background-image: linear-gradient(lightgray, gray);
		pointer-events: none;
	}
	.ziggeo-ctrl-btn.selected {
		background-image: linear-gradient(#335af4, #53c7f4);
		background-color: lightgray;
		background-blend-mode: overlay;
		pointer-events: none;
	}
	.ziggeo-ctrl-btn-inline {
		padding: 0 4px;
		font-weight: normal;
		background: none;
		color: black;
		border: 1px dashed gray;
		border-radius: 10px;
		margin: 0 4px;
	}

	.ziggeo-ctrl-btn i {
		position: absolute;
		font-size: 0.5em;
		top: 2px;
		right: 2px;
		width: 1em;
		color: white;
		font-weight: bold;
		border-radius: 50%;
		border: 1px solid white;
		height: 1em;
		text-align: center;
		line-height: 1em;
		padding: 0;
		margin: 0;
		box-sizing: border-box;
		background-color: white;
	}
		.ziggeo-ctrl-btn i div {
			display: none;
		}
		.ziggeo-ctrl-btn:hover i div {
			display: block;
			font-size: 14px;
			position: absolute;
			background-color: rgba(24, 24, 24, 0.6);
			z-index: 2;
			padding: 10px;
			line-height: 16px;
			min-width: 120px;
			border: 4px double gray;
			border-radius: 0 10px 20px 20px;
		}

	.ziggeo-ctrl-group {
		border: 4px double lightgray;
		padding: 10px;
		box-sizing: border-box;
		border-radius: 10px;
		margin: 10px 0;
	}

	.ziggeo-ctrl-group label {
		display: block;
	}



/************************************************
	3. OVERLAY STYLES
************************************************/

	/* Overlay for recorder */
	#ziggeo-overlay-screen {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: gray;
		opacity: 0.6;
		z-index: 99999;
	}
	#ziggeo-overlay-close {
		width: 30px;
		height: 30px;
		position: absolute;
		right: 10px;
		top: 10px;
		background-color: white;
		color: white;
		cursor: pointer;
		text-shadow: -1px -1px 0px black, 1px 1px 1px black, -1px 1px 1px black, 1px -1px 1px black;
		text-align: center;
		border-radius: 50%;
	}
	#ziggeo-video-screen {
		width: 300px;
		height: 300px;
		background-color: white;
		left: calc(50% - 150px);
		top: calc(50% - 150px);
		position: fixed;
		z-index: 100000;
	}
	.ziggeo_nonclickable {
		pointer-events: none;
	}




/************************************************
	4. THIRD PARTY OR MODULES CSS (TO BE REMOVED IN FUTURE VERSIONS)
************************************************/

	/*******************************************************************************/
	/* Other CSS */
	/*******************************************************************************/

	/* Support for JobManager integration */
	.ziggeo-button {
		background-image: linear-gradient(silver, white);
		border: 1px solid gray;
		border-radius: 20px;
		color: gray;
		padding: 4px;
	}
	#ziggeo-buttons-holder-JMV {
		background: transparent none repeat scroll 0 0;
		text-align: center;
		width: 100%;
		margin-top: 4px;
	}
		#ziggeo-buttons-holder-JMV .ziggeo-button {
			display: inline-block;
			width: 40%;
			cursor: pointer;
		}
		#ziggeo-buttons-holder-JMV .ziggeo-button:hover {
			background-image: linear-gradient(white, silver);
		}
			#ziggeo-buttons-holder-JMV .ziggeo-button.btn-left {
				border-bottom-right-radius: 5px;
				border-top-right-radius: 5px;
				margin-right: 2px;
			}
			#ziggeo-buttons-holder-JMV .ziggeo-button.btn-right {
				border-bottom-left-radius: 5px;
				border-top-left-radius: 5px;
				margin-left: 2px;
			}
